#add-button, #exit-button {
    margin: 10px;
}

#item-button {
    margin: 10px;
}

.q-block {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info-block span {
  font-size: 1.5em; /* Настройте размер шрифта для заголовка */
  font-weight: bold; /* Сделайте текст жирным, чтобы выделить заголовок */
  display: block; /* Разместите заголовок на новой строке */
}

.info-block p {
  margin-top: 5px; /* Небольшое расстояние между заголовком и значением */
}